.App {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.App-logo {
  height: 3rem;
  pointer-events: none;
}
.App-logo-move {
  height: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
  .App-logo-move {
    animation: App-logo-move infinite 2s linear both;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.apiTest {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: 0.5rem;
  color: #91bef0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-move {
  0% {
    transform: translate(-5rem);
  }
  50% {
    transform: translate(5rem);
  }
  100% {
    transform: translate(-5rem);
  }
}
