.App {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.App-logo {
  height: 3rem;
  pointer-events: none;
}
.App-logo-move {
  height: 3rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
  .App-logo-move {
    animation: App-logo-move infinite 2s linear both;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
}

.App-link {
  color: #61dafb;
}

.apiTest {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 0.5rem;
  color: #91bef0;
}

.menu {
  display: flex;
  position: fixed;
  top: 0rem;
  bottom: 0rem;
  border-radius: 60px;
  padding: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #51a14a;
  width: 0.1rem;
  overflow: hidden;
  transition: 0.5s;

}
.menu:hover {
  background-color: #f0f0f0;
  width: 2rem;
}

.section {
  display: block;
  font-size: 0.2rem;
  white-space: nowrap;
  color: #282c34;
}
#test {
  white-space: wrap;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-move {
  0% {
    transform: translate(-4.2rem);
  }
  50% {
    transform: translate(4.2rem);
  }
  100% {
    transform: translate(-4.2rem);
  }
}
